@model taras_shop.Models.AdminAddUnitViewModels

@{
    ViewBag.Title = "AddUnit";
}

<div class="container">
    <h2>AddUnit</h2>
    <div class="col-lg-4 col-md-4">
        <form  class="form-horizontal" id="addUnitForm" action="" method="post">
            <h4>AdminAddUnitViewModels</h4>
            <hr />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label for="images">Фото:</label>
                    <input onchange="onFileSelected(event)" id="images" type="file" multiple class="form-control" />
                    <img id="myimage">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label for="title">Заголовок:</label>
                    <input id="title" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label for="producer">Виробник:</label>
                    <input id="producer" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="category-type">Виберіть для кого:</label>
                <select class="form-control" id="category-type" onchange="changeSelect()">
                    @foreach (var i in Model.categoryTypes)
                    {
                        <option value="@i.Id">@i.Type</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="category">Select list:</label>
                <select class="form-control" id="category">
                    @foreach (var i in Model.categories)
                    {
                        <option value="@i.Id">@i.Category</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label for="price">Ціна:</label>
                    <input id="price" type="text" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label for="count">Кількість:</label>
                    <input id="count" type="text" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label for="size">Розмір:</label>
                    <input id="size" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label for="material">Матеріал:</label>
                    <input id="material" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label for="description">Опис:</label>
                    <textarea class="form-control" rows="5" id="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" id="create" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
    <script>
        @*function changeSelect() {
            var tmp = @Model.categoryTypes.Select(x => x.Type);
            $("#test").val(tmp);
        }*@
        function onFileSelected(event) {
            var selectedFile = event.target.files[0];
            var reader = new FileReader();

            var imgtag = document.getElementById("myimage");
            imgtag.title = selectedFile.name;

            reader.onload = function (event) {
                imgtag.src = event.target.result;
            };

            reader.readAsDataURL(selectedFile);
        }
    </script>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>