@model taras_shop.Models.AdminAddUnitViewModels

@{
    ViewBag.Title = "AddUnit";
}

<div class="container">
    <h2>AddUnit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>AdminAddUnitViewModels</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="title" type="text" value="Заголовок" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="producer" type="text" value="Виробник" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="category-type">Виберіть для кого:</label>
                <select class="form-control" id="category-type" onchange="changeSelect()">
                    @foreach (var i in Model.categoryTypes)
                    {
                        <option value="@i.Id">@i.Type</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="category">Select list:</label>
                <input id="test"/>
            </div>
            <div class="form-group">
                <label for="category">Select list:</label>
                <select class="form-control" id="category" disabled>
                    @*@foreach (var i in Model.categoryTypes)
                    {
                        <option value="@i.Id">@i.Type</option>
                    }*@
                </select>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="form-control" />
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create"  class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create"  class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create"  class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <script>
        function changeSelect() {
            var tmp = @Model.categoryTypes.Select(x => x.Type);
            $("#test").val(tmp);
        }
    </script>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>