@model IEnumerable<DTO.UsersDto>

<div class="container">
    <h2>AllUsers</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsMan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegDate)
                </td>
                <td>
                    @Html.ActionLink("Ban user", "BanUser", new { id = item.Id }) |
                    @Html.ActionLink("Set as moderator", "SetAsModerator", new { id = item.Id }) |
                    @Html.ActionLink("Set as admin", "SetAsAdmin", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>