<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <section class="header">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">WebSiteName</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("She", "She", "Home")</li>
                        <li>@Html.ActionLink("He", "He", "Home")</li>
                        <li>@Html.ActionLink("Child", "Child", "Home")</li>
                        <li>@Html.ActionLink("News", "News", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Sale", "Sale", "Home")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><span class="glyphicon glyphicon-user"></span>@Html.ActionLink("Login", "Login", "Home")</li>
                        <li><span class="glyphicon glyphicon-user"></span>@Html.ActionLink("Basket", "Basket", "Home")</li>
                        <li><span class="glyphicon glyphicon-user"></span>@Html.ActionLink("Search", "Search", "Home")</li>
                    </ul>
                </div>
            </nav>
    </section>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
