<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <section class="header">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">WebSiteName</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Головна", "Index", "Home")</li>
                        <li>@Html.ActionLink("Вона", "She", "Home")</li>
                        <li>@Html.ActionLink("Він", "He", "Home")</li>
                        <li>@Html.ActionLink("Діти", "Child", "Home")</li>
                        <li>@Html.ActionLink("Новинки", "News", "Home")</li>
                        <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Sale", "Sale", "Home")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><span class="glyphicon glyphicon-user"></span>@Html.ActionLink("Ввійти", "Login", "Home")</li>
                        <li><span class="glyphicon glyphicon-log-in"></span>@Html.ActionLink("Корзина", "Basket", "Home")</li>
                        <li><span class="glyphicon glyphicon-log-in"></span>@Html.ActionLink("Пошук", "Search", "Home")</li>
                    </ul>
                </div>
            </nav>
    </section>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
