@using taras_shop.Controllers.Identity;
@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        @{
            if ((User as CustomPrincipal).Role == "Admin")
            {
                <li><a href="@Url.Action("AddUnitPage", "Admin")">Додати товар</a></li>
                <li><a href="@Url.Action("AllUsers", "Admin")">Переглянути користувачів</a></li>
                <li><a href="#">Переглянути замовлення</a></li>
            }
            else if ((User as CustomPrincipal).Role == "Moderator")
            {
                <li><a href="@Url.Action("AddUnitPage", "Admin")">Додати товар</a></li>
                <li><a href="#">Переглянути замовлення</a></li>
            }
        }
        <li>
            <a href="@Url.Action("Logoff", "Account")" class="sign-in">
                <img src="~/Content/images/register.jpg" alt="sign">
                <span>Вийти</span>
            </a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="" class="sign-in" data-toggle="modal" data-target="#registration-modal">
                <img src="~/Content/images/register.jpg" alt="sign">
                <span>Ввійти</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("ShoppingCart", "Home")" class="basket">
                <img src="~/Content/images/basket.jpg" alt="basket">
                <span>Корзина</span>
            </a>
        </li>
        <li>
            <input placeholder="Поиск товаров по каталогу" class="search-input" />
            <a href="#" class="search">
                <img src="~/Content/images/search.jpg" alt="search">
                <span>Пошук</span>
            </a>
        </li>
    </ul>
}
