@model taras_shop.Models.UserData
<h4 class="ordering-subheader">Личные данные</h4>
<div class="form-group">
    <label for="ordering-name">Имя:</label>
    @Html.EditorFor(x => Model.Name, new { htmlAttributes = new { @class = "ordering-input"} })
</div>
<div class="form-group">
    <label for="ordering-surname">Фамилия:</label>
    @Html.EditorFor(x => Model.Surname, new { htmlAttributes = new { @class = "ordering-input"} })
</div>
<div class="form-group">
    <label for="ordering-email">E-Mail:</label>
    @Html.EditorFor(x => Model.Email, new { htmlAttributes = new { @class = "ordering-input"} })
</div>
<div class="form-group">
    <label for="ordering-phone">Телефон:</label>
    @Html.EditorFor(x => Model.Phone, new { htmlAttributes = new { @class = "ordering-input" } })
</div>

<h4 class="ordering-subheader">Адрес доставки</h4>

<div class="form-group">
    <label for="ordering-country">Страна:</label>
    @Html.EditorFor(x => Model.Country, new { htmlAttributes = new { @class = "ordering-input" } })
</div>
<div class="form-group">
    <label for="ordering-region">Область:</label>
    @Html.EditorFor(x => Model.Region, new { htmlAttributes = new { @class = "ordering-input" } })
</div>
<div class="form-group">
    <label for="ordering-city">Город:</label>
    @Html.EditorFor(x => Model.City, new { htmlAttributes = new { @class = "ordering-input" } })
</div>
