@model taras_shop.Models.HomeIndexViewModels
@{
    ViewBag.Title = "Home Page";

}
<div class="owl-carousel owl-theme owl-loaded">
    <img src="~/Content/images/slider.jpg" alt="Chania">
    <img src="~/Content/images/slider.jpg" alt="Chania">
    <img src="~/Content/images/slider.jpg" alt="Chania">
</div>
<div class="container">
    <div class="row">
                <aside class="col-lg-2 col-md-2 sidebar-nav" id="sidebar">
                    <div id="mobile-sidebar" class="sidebar-mobile-accordion">
                        <h3 class="side-catalog">Каталог товарів</h3>
                        <div id="accordion" data-theme="none">
                            <h4>Жінки</h4>
                            <div>
                                <ul class="women">
                                    @foreach (var i in Model.categories.Where(x => x.TypeId == 1))
                                    {
                                        <li>@i.Category</li>
                                    }
                                </ul>
                            </div>
                            <h4>Чоловіки</h4>
                            <div>
                                <ul class="men">
                                    @foreach (var i in Model.categories.Where(x => x.TypeId == 2))
                                    {
                                        <li>@i.Category</li>
                                    }
                                </ul>
                            </div>
                            <h4>Діти</h4>
                            <div>
                                <ul class="children">
                                    @foreach (var i in Model.categories.Where(x => x.TypeId == 3))
                                    {
                                        <li>@i.Category</li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <h3 class="filters-h">Фильтры</h3>
                        <div class="filters">
                            <h4 class="price-h">Цена</h4>
                            <p>
                                <input type="text" readonly id="amount">
                            </p>
                            <div id="slider"></div>
                            <h4 class="size-h">Розмір</h4>
                            <ul class="radio-list">
                                <li>
                                    <input type="checkbox" id="xs-option" name="selector">
                                    <label for="xs-option">Xs</label>

                                    <div class="check"></div>
                                </li>

                                <li>
                                    <input type="checkbox" id="s-option" name="selector">
                                    <label for="s-option">S</label>

                                    <div class="check"><div class="inside"></div></div>
                                </li>

                                <li>
                                    <input type="checkbox" id="m-option" name="selector">
                                    <label for="m-option">M</label>

                                    <div class="check"><div class="inside"></div></div>
                                </li>

                                <li>
                                    <input type="checkbox" id="l-option" name="selector">
                                    <label for="l-option">L</label>

                                    <div class="check"><div class="inside"></div></div>
                                </li>

                                <li>
                                    <input type="checkbox" id="xl-option" name="selector">
                                    <label for="xl-option">Xl</label>

                                    <div class="check"><div class="inside"></div></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
        <section class="main">
            <a href="#" class="her-a">
                <div class="col-md-4 col-md-offset-1 col-sm-offset-4 her">
                    <div class="her-img">
                        <div class="her-text">
                            <h3>Для Нее</h3>
                            <h5>Комфортная женственность</h5>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="he-a">
                <div class="col-md-4 col-md-offset-1 col-sm-offset-4 he">
                    <div class="he-img">
                        <div class="he-text">
                            <h3>Для Него</h3>
                            <h5>Практичность на каждый день</h5>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="news-a">
                <div class="col-md-9 col-md-offset-1 news">
                    <div class="text-news">
                        <h1>Новинки</h1>
                        <h3>Весна 2017</h3>
                    </div>
                </div>
            </a>
            @*Popular articles*@
            <div class="col-md-9 popular-units">
                <div class="title-lines">
                    <div class="col-md-4 left-line"></div>
                    <h4 class="title-lines-h">Популярные товары</h4>
                    <div class="col-md-4 right-line"></div>
                </div>
                @{
                    int count = 0;
                    foreach (var i in Model.popular)
                    {

                        string cssClass = "";
                        if (count % 2 == 0)
                        {
                            cssClass = "col-md-6 col-lg-6 col-sm-6 col-xs-8 unit";
                        }
                        else
                        {
                            cssClass = "col-md-6 col-lg-6 col-sm-6 col-xs-8 unit";
                        }
                        count++;
                        <div class="@cssClass">
                            <a href="/Home/ItemPage">
                                <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-10 img-unit-div">
                                    <img class="sale-img" src="~/Content/images/sale.png" alt="topsale">
                                    <div class="quick-view" data-target="#item-previeфw-modal" data-toggle="modal">
                                        <img src="~/Content/images/eye.png" alt="eye" />
                                        <span>Быстрый просмотр</span>
                                    </div>
                                </div>
                                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 text-unit-part">
                                    <div class="title-unit-part">
                                        <p class="company-maker">@i.Title</p>
                                        <p class="item-type">@Model.categories.Where(x => x.Id == i.Id).SingleOrDefault().Category</p>
                                    </div>
                                    <div class="price-unit-part">
                                        <span class="price-now">@(String.Format("{0:F2}", Convert.ToDouble(i.Price.GetValueOrDefault(0)) / 100)) грн</span>
                                        <span class="price-was">79.90 грн</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
                <div class="col-md-12 recommend-units">
                    <div class="title-lines">
                        <div class="col-md-4 left-line"></div>
                        <h4 class="title-lines-h">Рекомендуем</h4>
                        <div class="col-md-4 right-line"></div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-8 unit">
                        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-10 img-unit-div">
                            <div class="quick-view">
                                <img src="/Content/images/eye.png" alt="eye">
                                <span>Быстрый просмотр</span>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 text-unit-part">
                            <div class="title-unit-part">
                                <p class="company-maker">Стара колекція бюстгальтерів</p>
                                <p class="item-type">Комплекти</p>
                            </div>
                            <div class="price-unit-part">
                                <span class="price-now">43.50 грн</span>
                                <span class="price-was">79.90 грн</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-8 unit">
                        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-10 img-unit-div">
                            <div class="quick-view">
                                <img src="/Content/images/eye.png" alt="eye">
                                <span>Быстрый просмотр</span>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 text-unit-part">
                            <div class="title-unit-part">
                                <p class="company-maker">Стара колекція бюстгальтерів</p>
                                <p class="item-type">Комплекти</p>
                            </div>
                            <div class="price-unit-part">
                                <span class="price-now">43.50 грн</span>
                                <span class="price-was">79.90 грн</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-8 unit">
                        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-10 img-unit-div">
                            <div class="quick-view">
                                <img src="/Content/images/eye.png" alt="eye">
                                <span>Быстрый просмотр</span>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 text-unit-part">
                            <div class="title-unit-part">
                                <p class="company-maker">Стара колекція бюстгальтерів</p>
                                <p class="item-type">Комплекти</p>
                            </div>
                            <div class="price-unit-part">
                                <span class="price-now">43.50 грн</span>
                                <span class="price-was">79.90 грн</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 about">
                    <div class="title-lines">
                        <div class="col-md-4 left-line"></div>
                        <h4 class="title-lines-h">О нас</h4>
                        <div class="col-md-4 right-line"></div>
                    </div>
                    <div class="about-text-block">
                        <h4 class="first-about-h3">Большой выбор товаров</h4>
                        <p class="first-about-p">
                            Lorem.ua — крупнейший онлайн-магазин модной одежды, обуви и аксессуаров в Украине.
                            Здесь Вы можете купить все модные новинки с доставкой на дом.
                            В каталоге интернет-магазина Lorem.ua более 1000 брендов мужской,
                            женской и детской обуви и одежды разных ценовых категорий, всего более 2 000 000 товаров.
                            Наш ассортимент постоянно пополняется новыми товарами и брендами, в числе которых есть как
                            всемирно известные производители (Mango, Incity, SAVAGE, Tom Tailor, Adidas и другие),
                            так и дизайнерские марки, эксклюзивно представленные на Lorem.ua.
                            Мы сотрудничаем только с официальными представителями марок. Все товары,
                            поступающие к нам, имеют необходимые сертификаты.
                        </p>
                        <h4 class="second-about-h3">Доставка по всей Украине</h4>
                        <p class="second-about-p">
                            Lorem.ua — это европейский уровень сервиса.
                            Мы обеспечиваем быструю доставку товаров по всей стране.
                            Ваш заказ будет доставлен в любую точку Украины в течение 4-6 рабочих дней.
                            Вместе с ведущими логистическими операторами по доставке товаров в Украине
                            — Meest Express и Нова Пошта— мы постоянно улучшаем наш сервис и делаем
                            все возможное, чтобы Вы получили Ваш заказ как можно скорее.
                            Доставка по всей Украине бесплатная при сумме заказа от 750 гривен.
                            Если сумма заказа менее 750 гривен, стоимость доставки составит 49
                            гривен при заказе через Meest Express и 39 грн при заказе на отделение службы доставки Нова Пошта.
                            Подпишитесь на нашу рассылку, чтобы первыми узнавать о новостях доставки,
                            а также о скидках и акциях на сайте Lorem.ua.
                        </p>
                        <h4 class="third-about-h3">Оплата и возврат</h4>
                        <p class="third-about-p">
                            Мы развиваемся и улучшаем наш сервис. На данный момент оплатить заказ можно наличными в момент доставки или банковской картой.
                            В ближайшее время мы представим и другие способы оплаты заказов.
                            Если доставленный товар вам не подошел, не понравился или имеет заводской брак, в течение 14 дней
                            (Все товары, купленные до 10 мая 2016 года,
                            можно вернуть в течение 60 дней с момента покупки) после доставки заказа вы можете вернуть его по почте.
                            Мы перечислим вам деньги в минимально возможные сроки после получения вашей посылки.
                            Благодаря Lamoda.ua покупать модные вещи стало проще, быстрее и комфортнее. Приятного шопинга!
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>