@model taras_shop.Models.ShoppingModel

<script>
    
</script>
<div class="table-responsive">
    <table class="table cart-table">
        <thead>
            <tr>
                <th>Товар</th>
                <th>Подробности</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var i in Model.Units)
            {
            <tr>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("clear", "DeleteItemFromBasket", new { id = i.Id, size = i.Size }, new { @class = "material-icons" })
                        <img src="@Url.Content("~/Content/images/Units/" + i.Image.Image)" />
                    }
                    else
                    {
                        <a onclick="deleteFromCart(@i.Id, @String.Format("\"{0}\"", i.Size))" class="material-icons">clear</a>
                        
                        <img src="@Url.Content("~/Content/images/Units/" + i.Image.Image)" />
                    }

                </td>
                <td>
                    <div class="text-basket-preview">
                        <h4>@i.Title</h4>
                        <span>Цвет: @i.Color</span>
                        <span>Размер:</span>
                        <span>@i.Size</span>
                    </div>
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <input id="@String.Format(i.Size + i.Id)" onchange="changeAmount(@i.Id, @String.Format("\"{0}\"", i.Size))" class="inputs" type="number" min="1" max="999" step="1" value="@i.AmountOnBasket">
                    }
                    else
                    {
                        <input id="@String.Format(i.Size + i.Id)" onchange="changeLocalAmount(@i.Id, @String.Format("\"{0}\"", i.Size))" class="inputs" type="number" min="1" max="999" step="1" value="@i.AmountOnBasket">
                    }

                </td>
                <td>
                    <p class="cart-price-p">@(String.Format("{0:F2}", Convert.ToDouble(i.Price.GetValueOrDefault(0)) / 100)) грн</p>
                </td>
                <td>
                    <p class="cart-sum-p">@(String.Format("{0:F2}", Convert.ToDouble(i.Price.GetValueOrDefault(0)) * i.AmountOnBasket / 100)) грн</p>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="text-basket-preview-right">
    <div class="col-md-4 col-md-offset-4 cart-sum-block">
        <div class="overall-cost">
            <span>Общая стоимость товаров: </span>
            <span class="basket-preview-prices">@(String.Format("{0:F2}", Convert.ToDouble(Model.SumPrice) / 100)) грн</span>
        </div>
        <div class="delivery-cost">
            <span>Доставка: </span>
            <span class="basket-preview-prices">30.00 грн</span>
        </div>
        <div class="main-prices">
            <h4 class="basket-sum">Сумма: </h4>
            <span class="basket-preview-prices">264.85 грн</span>
        </div>
        
        <div id="basket-result"></div>
        @using (Ajax.BeginForm("ToOrder", "Home", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "basket-result" }))
        {
            <button class="frequent-button buy-button">Оформить заказ</button>
        }
        
        
        <a href="@Url.Action("Index" ,"Home")"><button class="frequent-button">Продолжить покупки</button></a>
    </div>
</div>
